@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  font-family: "Lato", sans-serif;

}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.navbar.navbar-expand-lg a:hover {
color: grey;
}
.navbar.navbar-expand-lg li a{

  color: white;
  
}
.navbar.navbar-expand-lg{

  background-color: #664b3d;
  
}

.sidebar a.active {
  background-color: #d9ba9c;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: grey;
  color: white;
}

div.container.custom-container-width {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.container.custom-container-width {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

*{
  margin:0;
  padding:0;
}
body {background-color: coral;}


#header{
  background-color: rgb(247, 255, 129);

  text-align: center;
  font-size: 40px
}

.card{
  margin: 10px 10px 10px 10px;
}

.container{

  margin: 0px 50px 0px 50px;
  text-align: center;
  justify-content: center;
}

.row{
  justify-content: center;
}
img{
  width: 100px;
  height: 100px;
}